
/* Autofill fix for Chrome, Safari, Edge */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333A5C inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}
